<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_ITwoWayAsyncVoid">
                    <textMessageEncoding />
                    <httpTransport authenticationScheme="Negotiate" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BiztalkWIXServices/V1/WIXService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_ITwoWayAsyncVoid"
                contract="WcfWixService.WIXService" name="CustomBinding_ITwoWayAsyncVoid">
                <identity>
                    <userPrincipalName value="localhost\Ben" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>